body {
}

table {
    background-color: #fff;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 0;
    border-collapse: collapse;
    font-size: small;
}

table tr {
    padding: 0;
    margin: 0;
}

table td {
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

table th{
    border: 1px solid black;

}

.div-50 {
    width: 500px;
}

.row {
    display: flex;
}

.div-oii {
    width: 100%;
    display: flex;
    margin-top: 10px;
    height: 85%;
}

.table-oii {
    float:left;
    width: 20%;
    font-size: x-small;
}

.footer-table {
    border: none;
}

.footer-table tr {
    border: none;
}

.footer-table td {
    border: none;
}

.td-avaliacao {
    width: 50px;
}

.td-apreciacao {
    width: 100px;
}

.table-acompanhamento {
    width: 90%;
    padding: 5px;
    border: none !important;
    margin: auto;
}

.table-acompanhamento tr {
    border: none !important;
    padding: 5px;
}

.table-acompanhamento td {
    border: none !important;    
    padding: 0px;
    text-align: left;
    padding-bottom: 8px !important;
}

.text-align-right {
    text-align: right !important;
}

.grid-item-1 {
    border-right: 1px solid black;
    float: left;
    width: 50%;
    align-items: center;
    height: 100%;
}

.grid-item-2 {
    float: left;
    width: 50%;
    align-items: center;
    height: 100%;
}

.h3-ficha {
    font-size: medium;
    text-decoration: underline;
}

.table-palestras {
    width: 90%;
    padding: 5px;
    border: none !important;
    margin: auto;
}

.table-palestras tr {
    border: none !important;
    padding: 5px;
}

.table-palestras td {
    border: none !important;    
    padding: 0px;
    text-align: left;
    padding-bottom: 3px !important;
}

.td-opcoes {
    width: 30% !important;
}

.td-40 {
    width: 40% !important;
}

.td-60 {
    width: 60% !important;
}

.td-20 {
    width: 20% !important;
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.text-right {
    text-align: right !important;
}

.page_break { page-break-before: always; }


